<!doctype html>
<html lang="ko">
<head>
    <title><%= title %></title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">

    <link href="/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/stylesheets/style_consultant.css" rel="stylesheet"/>
    <link href="#" rel="shortcut icon"/>

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/images/favicon/manifest.json">
</head>
<body>
    <div id = 'topNav'>
        <div class="navbar-brand logo">
            <a href="consultant.ejs"><img style="margin-top: 0.5%;" src="/images/logo_2.svg" alt="MindSupport 상담원 페이지" width="160px"></a>
        </div>

        <div class="navbar_client">
            <h2 class="inner_client">안녕하세요, <%= session_name %>님.</h2>
        </div>

        <div class="navbar_form">
            <form action = '/logout' method = "get">
                <button class="btn btn-sm btn-primary submit signout" type="submit">로그아웃</button>
            </form>
        </div>
    </div><!-- [e] topNav -->
    
    <!-- [s] wrap -->
    <div class = "wrap">
        <!-- 좌측 고객정보, 상담유형 -->
        <div class= "left_client">
            <h5 style="font-weight: bold;">상담정보</h5>
            <form action= "/consultant/clients_details" method="get" id="clientForm">
                <div class= "details_3 form-group">
                    <label for="exampleFormControlInput3">전화번호</label>
                    <input id="client_phone" class="form-control" type="text" placeholder="번호 입력['-' 제외]" maxlength = "11" oninput= "this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                </div>

                <div class= "details_1 form-group">
                    <label for="exampleFormControlInput1">고객명</label>
                    <input id="client_name" class="form-control" type="text" placeholder= "이름 입력"/>
                </div>

                <div class="details_2 form-group">
                    <label for="exampleFormControlSelect2">상담유형</label>
                    <select id="exampleFormControlSelect2" class="mySelect form-control custom-select custom-select-sm">
                        <option value="선택" selected="selected">선택</option>
                        <option value="일반문의">일반문의</option>
                        <option value="민원접수">민원접수</option>
                        <option value="제품판매">제품판매</option>
                        <option value="기타문의">기타문의</option>
                    </select>
                </div>
                
                <div class= "counsel_detail form-group">
                    <label for="exampleFormControlInput3">상담내역</label>
                    <textarea id="counsel_info" class="form-control" placeholder= "상담 내역을 입력해주세요" cols= "30" rows= "10"></textarea>
                </div>
            </form>

            <div class="btn-group">
                <input type= 'button' class= 'client_save btn btn-primary btn-sm'  value= 'EmoServiceStart' style="border-radius: 5%;"/>
                <input type= 'button' class= 'startButton1 btn btn-danger btn-sm'  value= 'EmoServiceStop' style="border-radius: 5%;"/>
                <input type= 'button' class= 'stopButton1 btn btn-warning btn-sm' value= 'SpeechEmoRecogRQ' style="border-radius: 5%;"/>
            </div>
        </div>

        <!-- 우측 srchBox -->
        <div class="srchBox">
            <div class="fromManager">
                <p class= "emotion_status">
                    <% if (call_emotion_agent.length == 0) { %>
                        <span class = "agent_emotion" style="padding-bottom: 1.2%;">
                            Oops, Sorry. Page is not founded! <img src="/images/error.png" alt="404에러" width="30px" height="30px">
                        </span>
                    <% } else { %>
                        <% for(var i=0; i<call_emotion_agent.length; i++) { 
                            let data = call_emotion_agent[i]; %>

                            <span class = "agent_emotion" style="padding-bottom: 0.5%;">
                                최근 감성상태
                                <% if (data.emotion_type == '5') { %>
                                    최근 감성상태 <img src="/images/smile.png" alt="기쁨" width="25px" height="25px">
                                <% } else if (data.emotion_type == '6') { %>
                                    최근 감성상태 <img src="/images/sad.png" alt="슬픔" width="25px" height="25px">
                                <% } else if (data.emotion_type == '7') { %>
                                    최근 감성상태 <img src="/images/angry.png" alt="화남" width="25px" height="25px">
                                <% } else if (data.emotion_type == '10') { %>
                                    최근 감성상태 <img src="/images/peaceful.png" alt="평온" width="25px" height="25px">
                                <% } else { %>
                                최근 감성상태 <img src="/images/close.png" alt="없음" width="15px" height="15px">
                                <% } %>
                            </span>
                        <% } %>
                    <% } %>
                </p>
                <label for="exampleFormControlTextarea1">관리자 메세지</label>
                <textarea class="form-control" name= "content" id= "EventMsg" cols= "100" rows= "8" wrap= "on" readonly></textarea>
            </div>
        </div><!-- [e] srchBox -->

        <div class= "bottom_emotion_table">
            <div class="counseling_list">
                <div>
                    <p class="text_left">상담원 통화 이력</p>
                    <p class="button_right"><input type= "button" value= "통화이력 조회" class= "btn btn-primary btn-sm callHistoryButton"/></p>
                </div>
                <div class="pagelist">
                <div id="resetTable">
                    <table id= "myTable" class="table table-hover table-striped">
                        <colgroup>
                            <col span= "1" style= "width: 5%">
                            <col span= "1" style= "width: 12%">
                            <col span= "1" style= "width: 10%">
                            <col span= "1" style= "width: 15%">
                            <col span= "1" style= "width: 15%">
                            <col span= "1" style= "width: 15%">
                            <col span= "1" style= "width: 28%">
                        </colgroup>
                        <thead class="thead-light">
                            <tr>
                                <th>번호</th>
                                <th>고객 번호</th>
                                <th>문의 유형</th>
                                <th>통화 시작</th>
                                <th>통화 종료</th>
                                <th>통화 시간</th>
                                <th>상담 내용</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (call_history_agent.length == 0) { %> 
                                <tr>
                                    <td colspan="11">표시할 데이터가 없습니다</td>
                                </tr>
                            <% } else { %>
                                <% for(var i=0; i<call_history_agent.length; i++) {
                                    let data = call_history_agent[i]; %>

                                    <tr id="jsTableRow" class="jsTableRow" style="cursor: default; user-select:none">
                                        <!-- 번호 -->
                                        <% let data_seq = i+1 %>
                                        <td scope="row"><%= data_seq %></td>

                                        <!-- 고객 번호 -->
                                        <td scope="row"><%= data.TARGET_TELNO %></td>

                                        <!-- 문의 유형 -->
                                        <td scope="row"><%= data.group_type %></td>

                                        <!-- 통화 시작 -->
                                        <td scope="row"><%= data.REC_START_DATETIME %></td>

                                        <!-- 통화 종료 -->
                                        <td scope="row"><%= data.REC_END_DATETIME %></td>

                                        <!-- 통화 시간(분 초) -->
                                        <%
                                            let minutes = Math.floor(data.REC_DURATION / 60) 
                                            let remainSeconds = data.REC_DURATION % 60; 
                                            data.REC_DURATION = `${minutes}분 ${remainSeconds}초` 
                                        %>
                                        <td scope="row"><%= data.REC_DURATION %></td>

                                        <!-- 메모 -->
                                        <td scope="row"><%= data.MEMO %></td>
                                    </tr>
                                <% } %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                
                <!-- 페이징 처리 -->
                <div class= "page">
                    <ul class="pagination2"></ul>
                </div>
            </div>
        </div>
    </div>
    </div><!-- [e] wrap -->
    <script src = "//code.jquery.com/jquery-3.3.1.min.js"   type = "text/javascript"></script>

    <!-------------- SOCKET.IO CLIENT, AJAX 통신 -------------->
    <script src = "https://cdn.socket.io/4.6.1/socket.io.min.js" type="text/javascript"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            //  변수 초기화
            let callinfo_id;
            let call_seq = 0;
            let client_id;     
            let client_phone;
            let counsel_detail;
            let group_type;

            let message = "";
            let str = `   ** 시스템에서 자동발신 되는 메세지입니다. **`;

            let mediaRecorder;
            let audioChunks = [];

            // 소켓 연결
            <!-- const web_socket = io.connect('https://129.254.86.110:8888', { path: '/socket.io', transports: ['websocket'] }); -->
            const web_socket = io.connect('https://192.168.0.30:8888', { path: '/socket.io', transports: ['websocket'] });
            web_socket.on('connect', () => { console.log('웹 소켓 연결 성공'); });

            // 연결 해제(disconnect) 이벤트 처리
            web_socket.on('disconnect', (reason) => { console.log(reason); });

            // 에러 발생(error) 이벤트 처리
            web_socket.on('error', (error) => { console.log(`에러 발생: ${error}`); });

            // 서버에서 "server_msg" 이름으로 보낸 데이터 수신
            web_socket.on('server_msg', (data) => {
                console.log(data);

                if (message.indexOf(`${data}`) != -1) {
                    web_socket.send(`중복되는 데이터`);
                } else {
                    message += data;
                    message += "\n";

                    document.getElementById('EventMsg').value = message;
                    document.getElementById('EventMsg').scrollTop = document.getElementById('EventMsg').scrollHeight;

                    web_socket.send(data);
                }
            });

            // 상담관리자로부터 수동코칭 메세지 수신
            web_socket.on('admin_msg', (data) => {
                console.log(`${data}`);

                message += data;
                message += "\n";

                document.getElementById('EventMsg').value = message;
                document.getElementById('EventMsg').scrollTop = document.getElementById('EventMsg').scrollHeight;

                web_socket.send(`[ consultant.ejs:returnMsg ] 클라이언트가 데이터 잘 수신함`);
            });

            // 시스템으로부터 자동코칭 메세지 수신
            web_socket.on('auto_msg', (data) => {
                console.log(data);

                message += data;
                message += "\n";
                    
                document.getElementById('EventMsg').value = message;
                document.getElementById('EventMsg').scrollTop = document.getElementById('EventMsg').scrollHeight;
            });

            //  241001_김설웅_gsm 녹음 버튼 이벤트
            document.getElementById('pcmStart').addEventListener('click', () => {
                web_socket.emit('pcmStart');

                const target = document.getElementById('pcmStart');
                target.disabled = true;

                const target2 = document.getElementById('pcmStop');
                target2.disabled = false;
            });

            document.getElementById('pcmStop').addEventListener('click', () => {
                web_socket.emit('pcmStop');

                const target = document.getElementById('pcmStart');
                target.disabled = false;

                const target2 = document.getElementById('pcmStop');
                target2.disabled = true;
            });
        });
    </script>
    <!-- [end] 소켓 통신 -->
    
    <!-- 버튼 이벤트 -->
    <script>
        //  EmoServiceStart
        $('.client_save').click(() => {
            $.ajax({
                url: `/EmoServiceStartRQ`,
                dataType: 'json',
                method: 'GET',
                success: result => {
                    if(result) { console.log(result); }
                }
            });
        });

        //  EmoServiceStop
        $('.startButton1').click(() => {
            $.ajax({
                url: `/EmoServiceStopRQ`,
                dataType: 'json',
                method: 'GET',
                success: result => {
                    if(result) { console.log(result); }
                }
            });
        });
        
        //  SpeechEmoRecog
        $('.stopButton1').click(() => {
            $.ajax({
                url: `/SpeechEmoRecogRQ`,
                dataType: 'json',
                method: 'GET',
                success: result => {
                    if(result) { console.log(result); }
                },
                error: (xhr, status, error) => {
                    console.error("Error:", status, error);
                }
            });
        });
        
        // 3. 통화 이력 조회
        $('.callHistoryButton').click(function() {
            $.ajax({
                type: 'GET',
                url: '/consultant/call_history',
                async: true,
                dataType: 'JSON',
                error: function() {
                    alert('통신 실패');
                },
                success: function(result) {
                    if(result == "") {
                        $('#myTable tbody tr').empty();

                        let row = `<tr id="hide"><td colspan="8">표시할 데이터가 없습니다</td></tr>`;
                        $('#myTable').append(row);
                    } else {
                        $('#myTable tbody tr').empty();

                        for (let i=0; i<result.length; i++) {
                            call_seq++;

                            if(result[i].client_id == null) {
                                result[i].client_id = '';
                            }

                            if(result[i].client_phone == null) {
                                result[i].client_phone = '';
                            }

                            if (result[i].group_type == 1) {
                                result[i].group_type = '일반문의';
                            } else if (result[i].group_type == 2) {
                                result[i].group_type = '민원접수';
                            } else if (result[i].group_type == 3) {
                                result[i].group_type = '제품판매';
                            } else if (result[i].group_type == 4) {
                                result[i].group_type = '기타문의';
                            } else {
                                result[i].group_type = '';
                            }

                            if(result[i].disconnect_dt == null) {
                                result[i].disconnect_dt = '';
                            }

                            if(result[i].counsel_detail == null) {
                                result[i].counsel_detail = '';
                            }

                            let row = $(`<tr class="hidden"><td>${call_seq}</td><td>${result[i].client_id}</td><td>${result[i].client_phone}</td><td>${result[i].group_type}</td>
                                <td>${result[i].connect_dt}</td><td>${result[i].disconnect_dt}</td><td>${result[i].call_time}</td><td>${result[i].counsel_detail}</td></tr>`);
                            
                            if ( $('#myTable > tbody tr').length >= 5 ) {
                                return false;
                            } else {
                                $('#myTable').append(row);
                            }
                        }
                    }
                }
            });
        });
    </script>
    <!-- [end] 재생 버튼 -->
    
    <!-------------- 페이징 -------------->
    <script>
          // 페이지네이션 ----------- 20240926 최정우 연구원
jQuery(document).ready(function(){
    pagination2();
});

function pagination2() {
    let req_num_row = 5;
    if(window.location.pathname.split('/').pop() === 'workStatusMain'){
        req_num_row = 3;
    }
    let $tr = jQuery('.pagelist tbody tr');
    let total_num_row = $tr.length;
    let num_pages = Math.ceil(total_num_row / req_num_row);
    let current_page = 1;
    let max_visible_pages = 5; // 한 화면에 보여줄 페이지 수
    let current_visible_start = 1;

    // 페이지네이션 버튼 생성
    createPagination();

    // 초기 상태 설정
    updatePagination(current_page);

    // 페이지 링크 클릭 시 페이지 이동
    jQuery('.pagination2').on('click', '.pagination-link', function(e) {
        e.preventDefault();
        current_page = parseInt(jQuery(this).text());
        updatePagination(current_page);
    });

    // 첫 번째 페이지로 이동 버튼 클릭 시
    jQuery('.pagination2').on('click', '.first', function(e) {
        e.preventDefault();
        current_page = 1;
        current_visible_start = 1; // 첫 페이지로 이동 시 보이는 페이지 시작 번호 초기화
        updatePagination(current_page);
    });

    // 마지막 페이지로 이동 버튼 클릭 시
    jQuery('.pagination2').on('click', '.last', function(e) {
        e.preventDefault();
        current_page = num_pages;
        current_visible_start = Math.max(num_pages - max_visible_pages + 1, 1);
        updatePagination(current_page);
    });

    // 이전 버튼 클릭 시
    jQuery('.pagination2').on('click', '.prev', function(e) {
        e.preventDefault();
        if (current_page > 1) {
            current_page--;
            if (current_page < current_visible_start) {
                current_visible_start = Math.max(current_visible_start - max_visible_pages, 1); // 이전 구역으로 이동
            }
            updatePagination(current_page);
        }
    });

    // 다음 버튼 클릭 시
    jQuery('.pagination2').on('click', '.next', function(e) {
        e.preventDefault();
        if (current_page < num_pages) {
            current_page++;
            if (current_page > current_visible_start + max_visible_pages - 1) {
                current_visible_start += max_visible_pages;
            }
            updatePagination(current_page);
        }
    });

    // 페이지 업데이트 함수
    function updatePagination(page) {
        // offset 기능
        $tr.hide();
        let start = (page - 1) * req_num_row;
        $tr.slice(start, start + req_num_row).show();

        // 페이지네이션 버튼 상태 업데이트
        jQuery('.pagination2 li').removeClass("active");

        // 현재 보이는 페이지 번호 업데이트
        createPagination();

        // 현재 페이지에 active 클래스 적용
        let visible_end = Math.min(current_visible_start + max_visible_pages - 1, num_pages);
        if (page >= current_visible_start && page <= visible_end) {
            jQuery('.pagination2 li').eq(page - current_visible_start + 2).addClass("active"); // +2는 첫 페이지 버튼과 이전 버튼을 건너뛰기 위함
        } else {
            jQuery('.pagination2 li').eq(1).addClass("active"); // 첫 번째 페이지가 active
        }
    }

    // 페이지네이션 버튼 생성 함수
    function createPagination() {
        jQuery('.pagination2').empty();
        jQuery('.pagination2').append("<li><a class=\"first\"><img src='../images/btn_prevend.svg' alt='First'></a></li>"); // 첫 번째 페이지로 이동 버튼
        jQuery('.pagination2').append("<li><a class=\"prev\"><img src='../images/btn_prev.svg' alt='Previous'></a></li>");

        // 현재 보이는 페이지 번호 계산
        let visible_end = Math.min(current_visible_start + max_visible_pages - 1, num_pages);
        for(let i = current_visible_start; i <= visible_end; i++) {
            jQuery('.pagination2').append("<li><a class='pagination-link'>"+i+"</a></li>");
        }

        jQuery('.pagination2').append("<li><a class=\"next\"><img src='../images/btn_next.svg' alt='Next'></a></li>");
        jQuery('.pagination2').append("<li><a class=\"last\"><img src='../images/btn_nextend.svg' alt='Last'></a></li>"); // 마지막 페이지로 이동 버튼
    }
}
    </script><!-- [e] 페이징 -->
</body>
</html>